# ---------------------------------
# Python
# ---------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

# ---------------------------------
# Virtual Environments
# ---------------------------------
venv/
env/
.tf_env/
.venv/
# ---------------------------------
# IDE / Editor
# ---------------------------------
.vscode/
.idea/
*.swp

# ---------------------------------
# OS Files
# ---------------------------------
.DS_Store
Thumbs.db

# ---------------------------------
# Jupyter Notebook
# ---------------------------------
.ipynb_checkpoints/

# ---------------------------------
# TensorFlow / ML Artifacts
# ---------------------------------
*.h5
*.ckpt
*.ckpt.index
*.ckpt.data-*
saved_model/
logs/

# ---------------------------------
# Streamlit
# ---------------------------------
.streamlit/
.streamlit/config.toml

# ---------------------------------
# Dataset / Large Files
# ---------------------------------
data/
dataset/
datasets/
PetImages/
*.csv
*.zip

# ---------------------------------
# Numpy & Training Cache
# ---------------------------------
*.npy
*.npz

# ---------------------------------
# Build / Distribution
# ---------------------------------
build/
dist/
*.egg-info/

# ---------------------------------
# Python Testing
# ---------------------------------
.pytest_cache/
coverage.xml
htmlcov/

# ---------------------------------
# Temporary Files
# ---------------------------------
*.log
*.tmp

# ---------------------------------
# Kaggle API Credentials
# ---------------------------------
.keras/
kaggle.json
simple_r
